@{
    ViewData["Title"] = "Learn Online";
}

<div class="text-center">
    <h1 class="display-4">Learn Online</h1>
    <p><h5>A complete online learning portal.</h5></p>

    <a href="\course\list" class="btn btn-primary">Start shopping</a>
</div>